@charset "utf-8";
/* CSS Document */
@font-face{
    font-family:AmaticSC-Regular;
    src:url("../../media/fuentes/AmaticSC-Regular.ttf");
}

@font-face{
    font-family:lobster;
    src:url("../../media/fuentes/lobster.ttf"); 
}
.header h1{
    font-family:AmaticSC-Regular;
    font-size:80px; 
    color:#4d654d;
    text-align: center;
}
