body{
	
}

h1{font-family:Amatic SC ;
font-size:80px; 
}

p{font-family:Lobster;
font-size:22px;
}

h2{font-family:sans-serif;
font-size:48px;
}

h3{font-family:sans-serif;
font-size:36px;
}

em {
font-weight: bold; 
}