@font-face{
	font-family:AmaticSC-Regular;
	src:url("fuentes/AmaticSC-Regular.ttf");
}
@font-face{
	font-family:lobster;
	src:url("fuentes/lobster.ttf");
	
}


div{text-align:center;}
/*body.container{
	font-family:lobster;
	color:blue;
}
body.content{
	
}*/
/*container#siderbar{color:white;}*/
body#id{text-align:center;
}
h1{font-family:AmaticSC-Regular;
font-size:80px; 
text-align:center;
}

p{font-family:lobster;
font-size:22px;
}

h2{font-family:AmaticSC-Regular;
font-size:48px;
}


img{
	display:block;
	margin:auto;
}