@font-face{
	font-family:AmaticSC-Regular;
	src:url("fuentes/AmaticSC-Regular.ttf");
}
@font-face{
	font-family:lobster;
	src:url("fuentes/lobster.ttf");
	
}
body{
	
}

h1{font-family:AmaticSC-Regular;
font-size:80px; 
}

p{font-family:lobster;
font-size:22px;
}

h2{font-family:sans-serif;
font-size:48px;
}

h3{font-family:sans-serif;
font-size:36px;
}

img{
	display:block;
	margin:auto;
}