html{
    background-image: url(/ProyectAW/media/pexels-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
#prin{
    position: relative;
    height: 80%;
    width: 100%;
}
#footer {
    
}

