@charset "utf-8";
/* CSS Document */
ul {
	
	list-style: none;
	
}
mainContainer {  
                height:100%;  
                width:100%;  
            }  
div.mainContainer div.center {  
                height:85%;  
                width:100%;  
                background-color:blue;  
            }  
            div.mainContainer div.footer {  
                height:15%;  
                width:100%;  
                background-color:pink;  
            } 

div.contenedor div.imagen{
	float:left ;  width:40%;  height:100%;
}
div.contenedor div.descripcion{
	float:left ;  width:30%;  height:100%;
}
div.contenedor div.zona{
	float:left ;  width:15%;  height:100%;
}
div.contenedor div.tipoComida{
	float:left ;  width:15%;  height:100%;
}